<section class="side-bar-left">

    <h2>Menu</h2>
    <div class="nav">
            <a routerLink="tchat" routerLinkActive="active">
                <mat-icon>message</mat-icon><p>Tchat</p>
            </a>
            <a routerLink="directory" routerLinkActive="active">
                <mat-icon>folder_open</mat-icon><p>Dossiers</p>
            </a>
            <a (click)="onClick()"><mat-icon>find_in_page</mat-icon><p>Finder</p></a>

            <div class="escape" (click)="onLogOut()">
                <p>Se déconnecter </p>
                <mat-icon>exit_to_app</mat-icon>
            </div>
    </div>

</section>