* {
    padding: 10px;
    display: flex;
    flex-direction: column;
    h2 {
        display: flex;
        justify-content: center;
    }
    
}



// section {
//     display: flex;
//     flex-direction: column;
//     border: solid 3px rgb(28, 168, 215);
//     padding: 10px;
//     margin: 0;
//     height: 100vh;
//     width: 100%;
//     a {
//         text-decoration: none;
//     }
// }

// .active {
//     color: red;
//     text-decoration: none;
// }