.tchat-complet {
    display: flex;
    flex-direction: column;
    position: relative;
}

.tchat {
    display: flex;
    flex-direction: column;
    .right {
        align-self: flex-end;
    }
    .left {
        align-self: flex-start;
    }
}

// .input-chat {
//     position: absolute;
//     bottom:0;
//     width: 100%;
//     // textarea {
//     //     width: 80%;
//     //     margin-right: 10px;
//     //     border-radius: 5px;
//     // }
//     // button {
//     //     width: 20%;
//     //     display: flex;
//     //     justify-content: center;
//     // }
// }
