<div class="tchat-room" *ngIf="data">

  <app-tchat-top-bar [idUserData]="data"></app-tchat-top-bar>

  <div class="tchat" #scrollMe [scrollTop]="scrollMe.scrollHeight">
    <div *ngFor="let item of tabResults">

      <div class="right" *ngIf="item.setup">
        <mat-chip-list>
          <mat-chip color="accent" selected> {{item.setup}} </mat-chip>
        </mat-chip-list>
      </div>

      <div class="left" *ngIf="item.punchline">
        <mat-chip-list>
          <mat-chip  selected> {{item.punchline}} </mat-chip>
        </mat-chip-list>
      </div>
    </div>

  </div>

</div>


<div class="input-chat">
  <input *ngIf="data" [formControl]="messageText" (keypress)="onSendMessage($event)" matInput placeholder=" Votre message..."
    type="text">
  <mat-icon class="bouton" *ngIf="data" class="icon-send" matSuffix (click)="onSend()">send</mat-icon>
</div>