<section>

    <div class="entete">

        <h2>Vos fichiers</h2>

        <button type="button" mat-raised-button (click)="addNewDir()">
            <mat-label>Ajouter un fichier</mat-label>
        </button>
    </div>

    <div class="dossiers" *ngFor="let dir of directories">
        <mat-form-field appearance="fill" class="dossier">
            <mat-dialog-content>Nom : {{dir.data.name}}</mat-dialog-content>
        </mat-form-field>
        <mat-form-field appearance="fill" class="dossier">
            <mat-dialog-content>Chemin : {{dir.data.path}}</mat-dialog-content>
        </mat-form-field>
        <mat-form-field appearance="fill" class="dossier">
            <mat-dialog-content>Description : {{dir.data.description}}</mat-dialog-content>
        </mat-form-field>
    </div>

</section>