<section>

    <div class="entete">

        <h2>Vos fichiers</h2>

        <button type="button" mat-raised-button (click)="addNewDir()">
            <mat-label>Ajouter un dossier</mat-label>
        </button>
    </div>


    <div class="dossiers">
        <mat-list class="dossier" *ngFor="let dir of directories">
            <mat-list-item>Nom : {{dir.data.name}} </mat-list-item>
            <mat-list-item>Chemin : {{dir.data.path}}</mat-list-item>
            <mat-list-item>Description : {{dir.data.description}}</mat-list-item>
        </mat-list>
    </div>


</section>