.container-fluid {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.row>*{
    margin: 0;
    padding: 0;
}

.L1, .R1 {
    background-color: rgba(128, 128, 128, 0.589);
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: center;
}