<section class="container-fluid">

    <div class="row">
        <div class="col-md-2">
            <app-side-bar-left></app-side-bar-left>
        </div>

        <div class="col-md-7 central">
            <div class="navbarOver">
                <app-nav-bar></app-nav-bar>
            </div>
            <div class="tchat">
                <!-- balise qui permet de naviguer entre les components enfants -->
                <router-outlet></router-outlet>
            </div>
        </div>

        <div class="col-md-3">
            <app-side-bar-right></app-side-bar-right>
        </div>
    </div>

</section>