section {
    display: flex;
    flex-direction: column;
    .identity {
        display: flex;
        height: 70px;
        width: 100%;
        img {
            margin-right: 10px;
        }
        .name {
            height: 100%;
            display: flex;
            align-items: center;
            span {
                margin-right: 3px;
            }
        }
    }
    .question {
        margin: 25px 0 15px;
    }
    .buttons {
        display: flex;
        justify-content: space-between;
    }
}