<section class="user-list-entier">

    <div class="monProfil" *ngIf="profilInfo">
        <img class="perso" [src]="profilInfo.avatar" alt="photo de profil">
        <div class="nom-prenom">
            <p> {{ profilInfo.lastName }} </p>
            <p> {{ profilInfo.firstName }} </p>
        </div>
        <p>{{profilInfo.email}}</p>
    </div>


    <!-- Notre input -->
    <mat-form-field class="inputSearch" appearance="fill">
        <mat-label>Search</mat-label>
        <input matInput type="text" [formControl]="searchBar">
    </mat-form-field>
    

    <mat-card class="card-container">
        <mat-list class="card-contact" [style]="backgroundCard" *ngFor="let user of newArray">
            <mat-list-item>
                <div matLine class="id">
                    <img mat-card-avatar [src]="user.avatar" (click)="onOpenModal(user)">
                    <p matLine (click)="onOpenModal(user)">{{ user.firstName }}</p>
                    <p matLine (click)="onOpenModal(user)">{{ user.lastName }}</p>
                </div>  
                <div class="boutons">
                    <mat-icon (click)="onAddFriend(user)">person_add</mat-icon>
                    <mat-icon (click)="onRemoveFriend(user)">remove_circle_outline</mat-icon>        
                </div>
            </mat-list-item>
        </mat-list>
    </mat-card>

</section>