<section class="user-list-entier">

    <div class="monProfil" *ngIf="profilInfo">
        <img class="perso" [src]="profilInfo.avatar" alt="photo de profil">
        <div class="nom-prenom">
            <p> {{ profilInfo.lastName }} </p>
            <p> {{ profilInfo.firstName }} </p>
        </div>
        <p>{{profilInfo.email}}</p>
    </div>


    <!-- Notre input -->
    <mat-form-field class="inputSearch" appearance="fill">
        <mat-label>Search</mat-label>
        <input matInput type="text" [formControl]="searchBar">
    </mat-form-field>

    <!-- slide users ou friends -->
    <div class="slide">
        <mat-slide-toggle  [(ngModel)]="isFriend" color="primary">{{ isFriend ? 'Mes Amis' : 'Tout le monde' }}</mat-slide-toggle>
    </div>
    

    <div *ngIf="!isFriend" class="card-container">
        <mat-list class="card-contact" *ngFor="let user of allUsers">
            <mat-list-item>
                <div matLine class="id" (click)="onOpenModal(user)">
                    <div class="badge" [matBadge]="user.nbMessageEnAttente" matBadgePosition="after" matBadgeColor="primary">
                        <img matListAvatar [src]="user.avatar" *ngIf="user.avatar; else alter">
                        <ng-template #alter>
                            <img matListAvatar [src]="imgDefault" alt="">
                        </ng-template>
                    </div>
                    <p matLine>{{ user.firstName }}</p>
                    <p matLine>{{ user.lastName }}</p>
                </div>  
                <div class="boutons">
                    <mat-icon matLine (click)="onAddFriend(user)" *ngIf="isFriend == false">person_add</mat-icon>
                    <!-- <mat-icon matLine class="remove" (click)="onRemoveFriend(user)">remove_circle_outline</mat-icon>                  -->
                    <div class="user-online" *ngIf="user.online"></div>
                </div>
            </mat-list-item>
        </mat-list>
    </div>

    <div *ngIf="isFriend" class="card-container">
        <mat-list class="card-contact friends" *ngFor="let user of newFriends">
            <mat-list-item>
                <div matLine class="id" (click)="onOpenModal(user)">
                    <div class="badge" [matBadge]="user.nbMessageEnAttente" matBadgePosition="after" matBadgeColor="primary">
                        <img matListAvatar [src]="user.avatar" *ngIf="user.avatar; else alter">
                        <div class="user-online" *ngIf="user.online"></div>
                        <ng-template #alter>
                            <img matListAvatar [src]="imgDefault" alt="">
                        </ng-template>
                    </div>
                    <p matLine>{{ user.firstName }}</p>
                    <p matLine>{{ user.lastName }}</p>
                </div>  
                <div class="boutons">
                    <mat-icon matLine class="remove" (click)="onRemoveFriend(user)">remove_circle_outline</mat-icon>                 
                    <div class="user-online" *ngIf="user.online"></div>
                </div>
            </mat-list-item>
        </mat-list>
    </div>

</section>