.tchat-entier {
    width: 100%;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    .list {
        width: 20%;
        box-sizing: border-box;
    }
    .room {
        width: 80%;
    }
}